<app-header></app-header>
<section id="menu">
    <div class="container">
        <div class="row justify-content-around pt-5">
            <a (click)="newInvestiment()" class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Investimentos</h5>
                </div> 
                <div class="investimento">
                    <p>Você pode realizar investimentos como Poupança, CDI e IPCA.</p>
                </div>
            </a>
            <a  class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active text-white">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Saldo </h5>
                </div>
                <div class="saldo">                    
                    <p>R$ {{acc.saldo | number: '1.1-2'}}</p>
                </div>
            </a>
            <a (click)="newTransfer()"  class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active text-white">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Transferências</h5>
                </div>
                <div class="transferencia">
                    <p>Faça transferências com as melhores taxas e tarifas para todas as regiões do Brasil.</p>
                </div>
            </a>
            <a (click)="newLoan()" class="col-lg-5 col-md-10 mb-6 list-group-item list-group-item-action align-items-start active text-white">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Empréstimos</h5>
                </div>
                <div class="emprestimo">
                    <p>Faça um Empréstimo. É simples e fácil.</p>
                </div>
            </a>
            <a (click)="generateLoan()" class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Extrato Geral</h5>
                </div>
                <div class="extrato">
                    <p>Encontre aqui todas as suas movimentações bancárias.</p>
                </div>
            </a>
        </div>
    </div>
</section>
