<app-header></app-header>
<section id="menu">
    <div class="container">
        <br>
        <br>
        <div class="row justify-content-around pt-5">
            <a (click)="realizarInvestimentos()" class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Realizar Investimento</h5>
                </div>
                <div class="emprestimo">
                    <br>
                    <p>Realize um novo Investimento. Ganhe mais a cada dia!</p>
                </div>
            </a>
            <a (click)="verInvestimentos()" class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Ver Investimentos</h5>
                </div>
                <div class="ver-emprestimo">
                    <br>
                    <p>Veja aqui tudo sobre seus Investimentos ativos.</p>
                </div>
            </a>
        </div>
    </div>
</section>
<app-footer></app-footer>