<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<app-header></app-header>
<body>
    <div class="container">
        <form>
            <br>
            <label for="tipo-investimento">Tipo de Investimento</label>
            <div class="form-group">
                <select class="form-control" id="sel1">
                    <option>CDI</option>
                    <option>Poupança</option>
                    <option>IPCA</option>
                </select>
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="number" class="form-control" id="valor" placeholder="Valor" required>
            </div>
            <button type="submit" class="btn btn-dark">Voltar</button>&nbsp;
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>    
    </div>

</body>
</html>