<app-header></app-header>
<section id="menu">
    <div class="container">
        <br>
        <br>
        <div class="row justify-content-around pt-5">
            <a (click)=newLoan() class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Realizar Empréstimo</h5>
                </div>
                <div class="emprestimo">
                    <br>
                    <p>Realize um novo Empréstimo. Aqui os juros são mais baixos!</p>
                </div>
            </a>
            <a (click)=SeeLoan()  class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Ver Empréstimos</h5>
                </div>
                <div class="ver-emprestimo">
                    <br>
                    <p>Veja aqui tudo sobre seus Empréstimos.</p>
                </div>
            </a>
        </div>
    </div>
</section>