<app-header></app-header>
<section id="menu">
    <div class="container">
        <br>
        <br>
        <div class="row justify-content-around pt-5">
            <a href="realizar-emprestimo" class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Realizar Emprestimo</h5>
                </div>
                <div class="emprestimo">
                    <br>
                    <p>Realize um novo Emprestimo. Aqui os juros são mais baixos!</p>
                </div>
            </a>
            <a href="ver-emprestimos"  class="col-lg-5 col-md-10 list-group-item list-group-item-action align-items-start active">
                <div class="text-wrap vcenter">
                    <h5 class="mb-1">Ver Emprestimos</h5>
                </div>
                <div class="ver-emprestimo">
                    <br>
                    <p>Veja aqui tudo sobre seus Emprestimos.</p>
                </div>
            </a>
        </div>
    </div>
</section>
