<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="principal">
        <img src="assets/imagens/LogoSample_ByTailorBrands.jpg"
            width="60" height="30" class="d-inline-block align-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
          
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" (click)="routerHome()">Home
                <span class="sr-only">(página atual)</span>                
            </a>                
            </li>
            <li class="nav-item">
                <a class="nav-link"(click)="routerEmprestimo()">Empréstimos</a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" (click)="routerInvestimento()">Investimentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="routerTransf()">Transferências</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="extrato">Extrato</a>
            </li>
        </ul>
       <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link">Agência</a>
            <li>           
            <li class="nav-item">
                <a class="nav-link">Conta</a>
            </li>
        </ul>
        <br><a class="sair" href="">Sair</a>
    </div>
</nav>