<br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="agencia">Agência</span>
    </div>
        <input type="text" id="agencia" placeholder="Agência">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="conta">Conta</span>
    </div>
        <input type="number" id="conta" placeholder="Número da conta">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="valor">Valor</span>
    </div>  
        <input type="number" id="valor" placeholder="Valor">
    <div class="input-group-append">
            <span class="input-group-text">,00</span>
    </div>
</div>
    <button type="submit" class="btn btn-primary">Transferir</button>
