<div class="wrapper fadeInDown">
  <div id="formContent">
    <br>
    <form (ngSubmit)="enviarLogin()">
      <!--<input type="text" [(ngModel)]="login.login" name="login" placeholder="CPF" ui-br-cpf-mask required>-->


      <input type="text" name="login" class="form-control" [(ngModel)]="login.login" placeholder="CPF"
      required #cpf="ngModel" minlength="11" maxlength="14" mask="000.000.000-00">
      <div *ngIf="!cpf.valid && cpf.touched" class="alert alert-danger" role="alert">
          Informe seu CPF.
      </div>

      <input type="password" [(ngModel)]="login.pwd" class="fadeIn third"  name="pwd" name="senha" placeholder="Senha" required>
      <input type="submit" class="fadeIn fourth" value="Login">
    </form>
      <div id="formFooter">
        <a class="underlineHover" href="recuperar-senha" >Esqueceu a senha ?</a>
      </div>
  </div>
</div>