<div class="wrapper fadeInDown">
  <div id="formContent">    
    <br>
    <form (ngSubmit)="enviarLogin()">

      <input type="text" [(ngModel)]="login.login" name="login" placeholder="Login" required>
      <input type="password" [(ngModel)]="login.pwd" class="fadeIn third"  name="pwd" name="senha" placeholder="Senha" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
      <div id="formFooter">
        <a class="underlineHover" href="recuperar-senha" >Esqueceu a senha ?</a>
      </div>
  </div>
</div>