<app-header></app-header>
<br>
<div class="container">  
    <br>  
    <table class="table table-striped table-hover">
        <br>
        <thead>
            <th scope="row">Investimento</th>
            <th scope="row">Data investimento</th>
            <th scope="row">Valor investido</th>
            <th scope="row">Valor atual</th>
            <th scope="row">Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let investimento of investimentos">
                <td>{{investimento.fkIdTipoInvestimento.nome}}</td>
                <td>{{investimento.data}}</td>
                <td>{{investimento.valor}}</td>
                <td>{{investimento.valorTemp}}</td>
                <td>
                    <button class="btn btn-success" (click)="Resgatar(investimento)">Resgatar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-dark" (click)="redirect()" >Voltar</a>&nbsp; 
</div>