<app-header-gerente></app-header-gerente>
<div class="container">
        <form data-toggle="validator" #c="ngForm" (ngSubmit)="processForm()" class="form-horizontal">
            <div class="form-group">
                <br>
                <div class="col-sm-12">
                    <label for="fname" class="control-label">Nome</label>
                </div>
                <div class="col-sm-12">                
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Nome"
                    [(ngModel)]="user.fname" required #fname>
                    <!--<div *ngIf="!fname.valid && fname.touched" class="alert alert-danger" role="alert">
                        Nome é obrigatório.
                    </div>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="lname" class="control-label">Sobrenome</label>
                </div>
                <div class="col-sm-12">
                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Sobrenome"
                    [(ngModel)]="user.lname" required #lname="ngModel">
                    <div *ngIf="!lname.valid && lname.touched" class="alert alert-danger" role="alert">
                        Sobrenome obrigatório.
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="cpf" class="control-label">CPF</label>
                </div>
                <div class="col-sm-12">
                    <input type="String" class="form-control" name="cpf" id="cpf" placeholder="CPF"
                    [(ngModel)]="user.cpf" required #cpf="ngModel" minlength="11" maxlength="11">
                    <div *ngIf="!cpf.valid && cpf.touched" class="alert alert-danger" role="alert">
                        Informe um CPF válido.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="telefone" class="control-label">Telefone</label>
                </div>
                <div class="col-sm-12">
                    <input type="tel" class="form-control" name="tel" id="tel" placeholder="Telefone"
                    [(ngModel)]="user.tel" required #tel="ngModel" minlength="8" maxlength="15"
                    >
                    <div *ngIf="!tel.valid && tel.touched" class="alert alert-danger" role="alert">
                        Coloque um telefone válido.
                    </div>
                </div>                    
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="email" class="control-label">Email</label>
                </div>
                <div class="col-sm-12">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                    [(ngModel)]="user.email" required email #email="ngModel"
                    data-error="Por favor, informe um e-mail correto.">
                    <div class="help-block with-errors"></div>
                    <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
                        Email é obrigatório.
                    </div>
                </div>                
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="senha" class="control-label">Senha</label>
                </div>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="senha" placeholder="Senha"
                    data-minlength="6" required #pwd="ngModel" [(ngModel)]="user.pwd">                    
                    <span class="help-block">Mínimo de seis (6) digitos.</span>
                </div>
            </div>            
            <div class="form-group">
                <div class="col-sm-12">
                    <label for="confirma-senha" class="control-label">Confirmar Senha</label>
                </div>
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="senha" placeholder="Confirme sua Senha"
                    data-match="#senha" data-match-error="Atenção! As senhas não estão iguais." required>                    
                    <span class="help-block">Deve ser igual a senha informada acima.</span>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-dark">Voltar</button>&nbsp;
                <button type="submit" class="btn btn-primary" [disabled]="!c.invalid">Cadastrar</button>                
            </div>
        </form>    
    </div>