.navbar {
    position: relative;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background:#222;
    color: #f2f2f2;
}

input[type=search] {
	background: #555 no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
}
input[type=search]:focus {
	width: 600px;
	background-color: #ccc;
	border-color: #333;
	border: solid 1px #fff;
}

.help-block{
    font-size: 13px;
}
.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}
a{
    color: white!important;
}
