<app-header></app-header>
<div class="container">
    <form (ngSubmit)="mandarForm()">
        <div class="form-group">
            <br>
            <br>
            <br>
            <label for="valor">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" required>
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="number" name="valor" [(ngModel)]="loan.valor" class="form-control"  placeholder="Valor" required>
        </div>
        <button type="submit" class="btn btn-primary">Realizar Emprestimo</button>
    </form>   
    <a class="btn btn-dark" (click)="redirect()" >Voltar</a>&nbsp; 
</div>