<section>
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10"><br>
                <a class="list-group-item list-group-item-action active" (click)="newUser()"> 
                    <div class="text-wrap vcenter">
                        <h5 class="mb-1">Adicionar Clientes</h5>
                        <br>
                        <p>Adicione novos clientes.</p>
                        <br>
                    </div>
                </a>
            </div>
            <br>
            <div class="col-lg-6 mbr-col-md-10"><br>
                <a class="list-group-item list-group-item-action active" (click)="ListClients()">
                    <div class="text-wrap vcenter">
                        <h5 class="mb-1">Lista de Clientes</h5>
                        <br>
                        <p>Visualize os clientes cadastrados, edite seus dados ou exclua um cliente.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <br>
                <a class="list-group-item list-group-item-action active" (click)="CreateInvestiment()">
                    <div class="text-wrap vcenter">
                        <h5 class="mb-1">Adicione Investimentos</h5>
                        <br>
                        <p>Adicione novos tipos de investimentos para os clientes.</p>
                        <br>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <br>
                <a class="list-group-item list-group-item-action active" (click)="ListInvestiment()">
                    <div class="text-wrap vcenter">
                        <h5 class="mb-1">Lista de Investimentos</h5>
                        <br>
                        <p>Adicione novos tipos de investimentos para os clientes.</p>
                        <br>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
        