<app-header></app-header>
<br>
<div class="container">  
    <br>
    <br>  
    <table class="table table-striped table-hover">
        <br>
        <thead>
            <th scope="row">Emprestimo</th>
            <th scope="row">Valor</th>
            <th scope="row">Juros</th>
            <th scope="row">Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                    <td></td>  
                    <td>teste</td>
                    <td>teste</td>
                <td>
                    <button class="btn btn-primary">Pagar</button>&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
</div>