<app-header-gerente></app-header-gerente>
<br>
<div class="container">  
    <br>
    <br>  
    <table class="table table-striped table-hover mt-4">
        <thead>
            <!--<th scope="row">Id</th>-->
            <th scope="row">Nome</th>
            <th scope="row">Sobrenome</th>
            <th scope="row">CPF</th>
            <th scope="row">Telefone</th>
            <th scope="row">Email</th>
            <th scope="row">Senha</th>
            <th scope="row">Ações</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                    <!--<td>{{user.id}}</td>-->
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>    
                    <td>{{user.cpf}}</td>
                    <td>{{user.tel}}</td> 
                    <td>{{user.email}}</td>            
                    <td>{{user.pwd}}</td>      
                <td>
                    <button class="btn btn-primary" (click)="updateUser(user)">Editar</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteUser(user)">Excluir</button>
                </td>
            </tr>
        </tbody>        
    </table>
    <button type="submit" class="btn btn-dark" href="principal-gerente">Voltar</button>
</div>