<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <form #inv="ngForm" (ngSubmit)="onSubmit(inv)">
            <div class="form-group">
                <br>
                <label for="nome_investimento">Nome do Investimento</label>
                <input type="text" class="form-control" name="nomeInvestimento" id="nome_investimento"
                placeholder="Nome do Investimento" required #nomeInvestimento="ngModel"
                [(ngModel)]="investimento.nomeInvestimento">
                <div *ngIf="!nomeInvestimento.valid && nomeInvestimento.touched" class="alert alert-danger" role="alert">
                        Escreva o nome do investimento</div>
            </div>
            <div class="form-group">
                <br>
                <label for="Juros">Porcentagem de Juros</label>
                <input type="number" name="porcentagemJuros" class="form-control" id="juros" placeholder="Juros"
                required #porcentagemJuros="ngModel" [(ngModel)]="investimento.porcentagemJuros">
                <div *ngIf="!porcentagemJuros.valid && porcentagemJuros.touched" class="alert alert-danger" role="alert">
                        Informe a porcentagem de juros.</div>
        <form (ngSubmit) = "processForm()">
            <div class="form-group">
                <br>
                <label for="nome">Nome do Investimento</label>
                <input type="text" name="nome" class="form-control" [(ngModel)]="tipoInvest.nome" id="nome_investimento" placeholder="Nome do Investimento" required>
            </div>
            <div class="form-group">
                <br>
                <label for="juros">Porcentagem de Juros</label>
                <input type="number" name="juros" class="form-control"  [(ngModel)]="tipoInvest.juros" id="juros" placeholder="Juros" required>
            </div>
            <button type="submit" class="btn btn-dark">Voltar</button>&nbsp;
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>    
    </div>

</body>
</html>